wp-config.php
.htaccess

wp-content/plugins/custom-blocks/

wp-content/themes/paradigmpress/PostTypes/Portfolio.php


wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/debug.log


.idea/
.vscode/
*.log

.DS_Store
Thumbs.db

node_modules/
dist/
